{% extends 'base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}{{ product.name }} - Zoo Help{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.photo|media_filter }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p>Категория: {{ product.category }} </p>
            <p class="lead">Цена: {{ product.price }} руб.</p>
            <p>Описание: {{ product.description }}</p>
            <p>Дата создания: {{ product.created_at|date:"d.m.Y H:i" }}</p>
            <p>Последнее изменение: {{ product.updated_at|date:"d.m.Y H:i" }}</p>
            <a href="{% url 'catalog:home' %}" class="btn btn-primary">Назад</a>
        </div>
    </div>
</div>
{% endblock %}
