{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block title %}Каталог - Zoo Help{% endblock %}

{% block content %}

<a href="{% url 'catalog:product_create' %}" class="btn btn-success mb-4">Добавить новый продукт</a>

<div class="row">
    {% for product in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <style>
                 .card-img-top {
                    height: 300px;
                    object-fit: cover;
                    width: 100%;
                 }
                </style>
                <img src="{{ product.photo|media_filter }}" class="img-fluid card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p>{{ product.description }}</p>
                    <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-primary">Подробнее</a>

                    {% if user == product.owner or is_moderator %}
                        <a href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>
                        <a href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}