{% extends 'catalog/base.html' %}

{% load static %}

{% load my_tags %}

{% block title %}{{ object.name }} - Zoo Help{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <img src="{{ object.photo|media_filter }}" class="img-fluid" alt="{{ object.name }}">
        </div>
        <div class="col-md-6">
            <h2>{{ object.name }}</h2>
            <p>
            Категория:
                <a href="{% url 'catalog:products_by_category' object.category.id %}">
                    {{ object.category.name }}
                </a>
            </p>
            <p class="lead">Цена: {{ object.price }} руб.</p>
            <p>Описание: {{ object.description }}</p>
            <p>Дата создания: {{ object.created_at|date:"d.m.Y H:i" }}</p>
            <p>Последнее изменение: {{ object.updated_at|date:"d.m.Y H:i" }}</p>
            <a href="{% url 'catalog:home' %}" class="btn btn-primary">Назад</a>

            {% if user == object.owner or is_moderator %}
                <a href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>
                <a href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
